@charset "UTF-8";
.usk-showcase-slider .usk-item {
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  height: auto;
  display: flex;
  flex-direction: column;
}
.usk-showcase-slider .usk-item.swiper-slide-active:hover .usk-action-btn {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
.usk-showcase-slider .usk-image-wrap {
  position: relative;
  z-index: -1;
  height: 100%;
  display: flex;
}
.usk-showcase-slider .usk-shoping {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  gap: 6px;
}
.usk-showcase-slider .usk-action-btn {
  display: inline-flex;
  padding: 18px;
  background: #ef233c;
  text-align: center;
  font-size: clamp(14px, 2vw, 18px);
  color: #edf2f4;
  border-radius: 4px;
  transform: translateY(50px);
  opacity: 0;
  visibility: hidden;
}
.usk-showcase-slider .usk-shoping-icon-wishlist {
  transition: 0.3s ease, transform 0.3s cubic-bezier(0.17, 0.73, 0.66, 0.99);
}
.usk-showcase-slider .usk-compare {
  transition: 0.3s ease, transform 0.5s cubic-bezier(0.17, 0.73, 0.66, 0.99);
}
.usk-showcase-slider .usk-shoping-icon-quickview {
  transition: 0.3s ease, transform 0.7s cubic-bezier(0.17, 0.73, 0.66, 0.99);
}
.usk-showcase-slider .usk-price {
  font-size: clamp(14px, 2vw, 18px);
  font-weight: 700;
  color: #69727d;
}
.usk-showcase-slider .usk-price del {
  font-weight: 500;
  color: #babfc5;
}
.usk-showcase-slider .usk-price ins {
  text-decoration: none;
  padding-right: 6px;
}
.usk-showcase-slider .product_type_external {
  transition: transform 1.2s cubic-bezier(0.17, 0.73, 0.66, 0.99) 0s, z-index 0s step-end, opacity 1.2s ease;
}
.usk-showcase-slider .usk-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.usk-showcase-slider .usk-item-box {
  padding: clamp(20px, 2vw, 30px);
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  position: relative;
}
.usk-showcase-slider .usk-title {
  color: #2b2d42;
  display: block;
  transition: all 0.3s ease;
}
.usk-showcase-slider .usk-title .title {
  font-size: clamp(18px, 2vw, 30px);
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
  color: inherit;
}
.usk-showcase-slider .usk-category {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.usk-showcase-slider .usk-category a {
  font-size: clamp(12px, 2vw, 14px);
  border-width: 1px;
  border-color: #d5d8dc;
  border-style: solid;
  padding: 4px 8px;
  border-radius: 4px;
  color: #69727d;
  transition: all 0.3s ease;
  display: inline-flex;
  line-height: 1.2;
}
.usk-showcase-slider .usk-category a:hover {
  color: #fff;
  border-color: #69727d;
  background-color: #69727d;
}
.usk-showcase-slider .usk-price-button-wrap {
  text-align: left;
  position: relative;
}
.usk-showcase-slider .usk-button.added {
  display: none;
  transition: all 3s ease-in-out;
}
.usk-showcase-slider .usk-button.loading::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px dotted #fff;
  border-radius: 50%;
  margin-right: -15px;
  display: inline-block;
  position: relative;
  position: absolute;
  top: 31%;
  text-align: center;
  animation: rotation 2s linear infinite;
}
.usk-showcase-slider .usk-button.loading i {
  transition: all 0.3s ease-in-out;
  transform: translate(-70px);
  opacity: 0.02;
}
.usk-showcase-slider .added_to_cart {
  transition: all 3s ease;
}
.usk-showcase-slider .added_to_cart::after {
  content: "✓";
  margin-right: 5px;
  font-size: 20px;
}
.usk-showcase-slider .added_to_cart i {
  display: none;
}
.usk-showcase-slider .usk-button,
.usk-showcase-slider .added_to_cart {
  font-weight: 600;
  text-align: center;
  background: #ef233c;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  transition: all 0.3s ease;
  width: 33%;
  min-width: 125px;
  height: clamp(40px, 5vw, 50px);
  position: absolute;
  left: clamp(20px, 2vw, 30px);
  top: 0;
  transform: translateY(-50%);
  border-radius: 4px;
  font-size: clamp(13px, 1.5vw, 16px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.usk-showcase-slider .usk-button a,
.usk-showcase-slider .added_to_cart a {
  color: #fff;
}
.usk-showcase-slider .usk-button .button-icon:before,
.usk-showcase-slider .added_to_cart .button-icon:before {
  margin: -5px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.usk-showcase-slider .usk-button:hover .button-icon:before,
.usk-showcase-slider .added_to_cart:hover .button-icon:before {
  margin-right: 10px;
  opacity: 1;
  visibility: visible;
}
.usk-showcase-slider .usk-badge-label-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin: clamp(20px, 2vw, 30px);
}
.usk-showcase-slider .usk-badge-label-wrapper .usk-badge {
  border-radius: 3px;
}
.usk-showcase-slider .usk-showcase-slider-wrapper {
  padding-bottom: 30px;
}
.usk-showcase-slider .usk-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}
.usk-showcase-slider .usk-nav i {
  background: #ef233c;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #edf2f4;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.usk-showcase-slider .usk-nav i:hover {
  background: #d90429;
}
.usk-showcase-slider .bdt-swiper-button-prev {
  right: 2%;
}
.usk-showcase-slider .bdt-swiper-button-next {
  left: 2%;
}
.usk-showcase-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #d90429;
}

@media (min-width: 1024px) {
  .usk-showcase-slider .usk-nav i {
    background: #ef233c;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
  }
}