.usk-product-reviews {
  grid-gap: 30px;
}
.usk-product-reviews .usk-item {
  padding: clamp(20px, 2vw, 30px);
  background: #f9fafa;
  border-radius: 6px;
  position: relative;
}
.usk-product-reviews .usk-avatar-wrap {
  gap: clamp(10px, 1vw, 15px);
}
.usk-product-reviews .usk-avatar-img {
  border-radius: 4px;
  overflow: hidden;
}
.usk-product-reviews .usk-avatar-img img {
  object-fit: cover;
}
.usk-product-reviews .usk-author-name {
  font-size: 14px;
  text-transform: capitalize;
}
.usk-product-reviews .usk-author-name span {
  color: #6f6f6f;
  font-weight: 400;
}
.usk-product-reviews .usk-author-name a {
  color: #666;
  font-weight: 600;
}
.usk-product-reviews .usk-author-name a:hover {
  color: #D90429;
}
.usk-product-reviews .usk-title {
  font-size: clamp(16px, 1.5vw, 18px);
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 10px;
}
.usk-product-reviews .usk-title a {
  color: #0c0d0e;
  transition: all 0.3s ease;
}
.usk-product-reviews .usk-title a:hover {
  color: #D90429;
}
.usk-product-reviews .usk-text {
  font-size: clamp(14px, 1vw, 15px);
  color: #6f6f6f;
  margin-top: clamp(15px, 2vw, 20px);
}
.usk-product-reviews .usk-rating {
  position: absolute;
  top: -22px;
  left: 25px;
}
.usk-product-reviews .usk-rating span .usk-rating-icon {
  color: #ffc107;
  font-size: 46px;
}
.usk-product-reviews .usk-rating-text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  font-size: 18px;
  margin-top: 2px;
  font-weight: 700;
}