.usk-product-image-accordion .usk-grid-wrap {
  display: block;
}
.usk-product-image-accordion .usk-item {
  width: 100%;
  height: clamp(350px, 55vw, 500px);
  flex: 1 0 10em;
  transition: flex-basis 0.5s cubic-bezier(0.2, 0.48, 0.58, 1), -ms-flex-preferred-size 0.4s ease-in-out;
  cursor: pointer;
}
.usk-product-image-accordion .usk-item:hover {
  flex-basis: 20em;
}
.usk-product-image-accordion .usk-item:hover .usk-content {
  transform: translateY(0);
}
.usk-product-image-accordion .usk-item:hover .usk-shoping a {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.usk-product-image-accordion .usk-item-box {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.usk-product-image-accordion .usk-item-box::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}
.usk-product-image-accordion .usk-image-wrap {
  height: 100%;
}
.usk-product-image-accordion .usk-image-wrap .usk-image {
  height: 100%;
  position: relative;
}
.usk-product-image-accordion .usk-image-wrap .usk-image::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 62%;
  background-image: linear-gradient(24deg, #000000, transparent, rgba(255, 0, 0, 0));
}
.usk-product-image-accordion .usk-image-wrap .usk-image a .usk-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.usk-product-image-accordion .usk-badge-label-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: clamp(20px, 2vw, 30px);
}
.usk-product-image-accordion .usk-badge-label-wrapper .usk-badge {
  border-radius: 3px;
}
.usk-product-image-accordion .usk-content-box {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: clamp(20px, 2vw, 30px);
  width: 100%;
}
.usk-product-image-accordion .usk-shoping {
  display: flex;
  align-items: center;
}
.usk-product-image-accordion .usk-shoping a {
  display: flex;
  background: #000;
  color: #dedede;
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  margin-right: 10px;
  font-size: clamp(12px, 1vw, 14px);
  border-radius: 3px;
  padding: clamp(10px, 1vw, 12px);
}
.usk-product-image-accordion .usk-shoping a:hover {
  background: #ef233c;
}
.usk-product-image-accordion .usk-shoping a.usk-active {
  background: #ef233c;
}
.usk-product-image-accordion .usk-shoping .usk-wishlist {
  transition: transform 0.3s cubic-bezier(0.17, 0.73, 0.66, 0.99) 0s, z-index 0s step-end, opacity 0.3s ease;
}
.usk-product-image-accordion .usk-shoping .usk-compare {
  transition: transform 0.4s cubic-bezier(0.17, 0.73, 0.66, 0.99) 0s, z-index 0s step-end, opacity 0.4s ease;
}
.usk-product-image-accordion .usk-shoping .usk-view {
  transition: transform 0.5s cubic-bezier(0.17, 0.73, 0.66, 0.99) 0s, z-index 0s step-end, opacity 0.5s ease;
}
.usk-product-image-accordion .usk-shoping .usk-cart {
  transition: transform 0.6s cubic-bezier(0.17, 0.73, 0.66, 0.99) 0s, z-index 0s step-end, opacity 0.6s ease;
}
.usk-product-image-accordion .usk-content {
  margin-bottom: 20px;
  transform: translateY(50px);
  transition: transform 0.4s cubic-bezier(0.17, 0.73, 0.66, 0.99) 0s, z-index 0s step-end, opacity 0.4s ease;
}
.usk-product-image-accordion .usk-category {
  margin-bottom: 15px;
  display: inline-flex;
  gap: 5px;
  flex-wrap: wrap;
}
.usk-product-image-accordion .usk-category a {
  background: transparent;
  border: 1px solid #ef233c;
  padding: 4px 12px;
  text-decoration: none;
  color: #ef233c;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 500;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.usk-product-image-accordion .usk-category a:hover {
  background: #ef233c;
  border: 1px solid #ef233c;
  color: #fff;
}
.usk-product-image-accordion .usk-title {
  margin-bottom: 10px;
  text-decoration: none;
  color: #edf2f4;
  transition: all 0.3s ease;
  display: block;
}
.usk-product-image-accordion .usk-title .title {
  font-size: 18px;
  line-height: 1.4;
  font-weight: 600;
  color: inherit;
}
.usk-product-image-accordion .usk-title:hover {
  color: #ef233c;
}
.usk-product-image-accordion .usk-price {
  display: flex;
  align-items: center;
  color: #e7e7e7;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 2px;
}
.usk-product-image-accordion .usk-price del {
  font-weight: 500;
}
.usk-product-image-accordion .usk-price ins {
  text-decoration: none;
  padding-left: 6px;
  color: #fff;
}
.usk-product-image-accordion .usk-item .usk-rating .usk-rating i {
  color: #efab14;
  font-size: 13px;
}

@media (min-width: 768px) {
  .usk-product-image-accordion .usk-grid-wrap {
    overflow: hidden;
    display: flex;
  }
  .usk-product-image-accordion .usk-content-box {
    width: 300px;
  }
}