.usk-heaven-slider {
  display: flex;
  height: clamp(560px, 40vw, 600px);
  overflow: hidden;
  padding: clamp(10px, 2vw, 30px);
  justify-content: space-between;
  flex-direction: row-reverse;
  border-radius: 6px;
  position: relative;
}
.usk-heaven-slider .usk-main-slider {
  width: 100%;
}
.usk-heaven-slider .usk-main-slider .usk-image-wrap {
  opacity: 0;
}
.usk-heaven-slider .swiper-slide-duplicate-active .usk-badge-label-wrapper,
.usk-heaven-slider .swiper-slide-duplicate-active .usk-content,
.usk-heaven-slider .swiper-slide-active .usk-badge-label-wrapper,
.usk-heaven-slider .swiper-slide-active .usk-content {
  opacity: 1;
  visibility: visible;
}
.usk-heaven-slider .swiper-slide-duplicate-active .usk-image-wrap,
.usk-heaven-slider .swiper-slide-active .usk-image-wrap {
  opacity: 1;
}
.usk-heaven-slider .usk-content {
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.6s ease-in-out;
}
.usk-heaven-slider .usk-item-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: clamp(15px, 2vw, 30px);
}
.usk-heaven-slider .usk-image-wrap {
  width: 100%;
  transition: all 0.3s ease-in-out;
  display: flex;
  border-radius: 6px;
  overflow: hidden;
}
.usk-heaven-slider .usk-image-wrap .usk-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.usk-heaven-slider .usk-category {
  margin-bottom: 10px;
  display: inline-flex;
  gap: 10px;
  flex-wrap: wrap;
}
.usk-heaven-slider .usk-category a {
  font-size: 14px;
  color: #5f5f74;
  font-weight: 600;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
  text-decoration-color: #5bb300;
  text-decoration-skip-ink: none;
}
.usk-heaven-slider .usk-category a:hover {
  color: #5bb300;
}
.usk-heaven-slider .usk-title {
  margin: 0 0 10px;
  font-size: clamp(24px, 2.5vw, 40px);
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: capitalize;
}
.usk-heaven-slider .usk-title a {
  color: #1f2027;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.usk-heaven-slider .usk-title a:hover {
  color: #5bb300;
}
.usk-heaven-slider .usk-text {
  font-size: clamp(14px, 1vw, 16px);
  line-height: 1.8;
  color: #6b6b6e;
  margin-bottom: clamp(10px, 2vw, 15px);
}
.usk-heaven-slider .usk-text p {
  margin: 0;
}
.usk-heaven-slider .usk-price {
  display: flex;
  align-items: center;
  grid-column-gap: 12px;
  font-size: clamp(16px, 1vw, 18px);
  font-weight: 600;
  margin-bottom: clamp(12px, 1.2vw, 14px);
}
.usk-heaven-slider .usk-price del {
  color: #8d8e9c;
}
.usk-heaven-slider .usk-price ins {
  color: #5bb300;
  text-decoration: none;
}
.usk-heaven-slider .usk-shoping {
  display: flex;
  align-items: center;
  grid-column-gap: 10px;
}
.usk-heaven-slider .usk-shoping a {
  display: inline-flex;
  position: relative;
  color: #fff;
  font-size: clamp(13px, 1vw, 15px);
  padding: clamp(10px, 1vw, 12px);
  text-decoration: none;
  border-radius: 4px;
  background-color: #5bb300;
  line-height: 1.2;
}
.usk-heaven-slider .usk-shoping a:hover {
  background-color: #1f2027;
}
.usk-heaven-slider .usk-shoping a i {
  height: 1.2em;
  width: 1.2em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.usk-heaven-slider .usk-shoping .usk-wishlist.usk-active {
  background-color: #1f2027;
}
.usk-heaven-slider .usk-item .usk-rating {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.usk-heaven-slider .usk-item .usk-rating .woocommerce-product-rating {
  display: flex;
  align-items: center;
  padding: 0;
}
.usk-heaven-slider .usk-item .usk-rating .woocommerce-product-rating .star-rating {
  font-size: 12px;
  margin: 0;
}
.usk-heaven-slider .usk-badge-label-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
}
.usk-heaven-slider .usk-badge-label-wrapper .usk-badge {
  border-radius: 4px;
}
.usk-heaven-slider .usk-thumbs-slider {
  display: none;
  overflow: hidden;
  padding: 5px;
  margin-right: clamp(10px, 2vw, 30px);
}
.usk-heaven-slider .usk-thumbs-slider .usk-item-box,
.usk-heaven-slider .usk-thumbs-slider .usk-image-wrap {
  height: 100%;
  width: 100%;
}
.usk-heaven-slider .usk-thumbs-slider .usk-image-wrap {
  padding: 10px;
}
.usk-heaven-slider .usk-thumbs-slider .usk-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.usk-heaven-slider .usk-thumbs-slider .usk-item {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.usk-heaven-slider .usk-thumbs-slider .usk-item:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
.usk-heaven-slider .usk-navigation-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  margin: clamp(10px, 2vw, 30px);
  grid-column-gap: 10px;
}
.usk-heaven-slider .usk-nav-btn {
  color: #1f2027;
  font-size: clamp(14px, 1vw, 18px);
  display: flex;
  background: #eee;
  padding: clamp(10px, 1vw, 12px);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}
.usk-heaven-slider .usk-nav-btn:hover {
  color: #5bb300;
}

@media (min-width: 768px) {
  .usk-heaven-slider .usk-thumbs-slider {
    display: block;
  }
  .usk-heaven-slider .usk-item-box {
    flex-direction: row;
  }
  .usk-heaven-slider .usk-badge-label-wrapper {
    margin: 0;
  }
  .usk-heaven-slider .usk-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}