.usk-sub-category {
  grid-gap: 20px;
}
.usk-sub-category .usk-item {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #e8e8e9;
  padding: 20px;
  overflow: hidden;
  transition: all 0.3s ease;
}
.usk-sub-category .usk-item:hover .usk-link-btn a i {
  opacity: 1;
  visibility: visible;
  transform: translateX(8px);
}
.usk-sub-category .usk-image-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.usk-sub-category .usk-image-wrap {
  width: 100%;
  height: 100%;
}
.usk-sub-category .usk-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.usk-sub-category .usk-content {
  width: 100%;
}
.usk-sub-category .usk-name {
  font-size: 20px;
  margin: 0 0 15px;
  font-weight: 700;
  text-transform: uppercase;
}
.usk-sub-category .usk-name a {
  color: #2b2c35;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.usk-sub-category .usk-name a:hover {
  color: #d90429;
}
.usk-sub-category .usk-list {
  margin: 0 0 13px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 8px;
}
.usk-sub-category .usk-list a {
  color: #66687a;
  font-size: 12px;
  text-decoration: underline;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  display: inline-flex;
}
.usk-sub-category .usk-list a:hover {
  color: #d90429;
}
.usk-sub-category .usk-link-btn {
  display: block;
}
.usk-sub-category .usk-link-btn a {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  color: #d90429;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.usk-sub-category .usk-link-btn a:hover {
  color: #d90429;
}
.usk-sub-category .usk-link-btn a i {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-10px);
  transition: all 0.3s ease-in-out;
}